<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.UserMapper">

    <resultMap id="userRM" type="User">
        <id column="user_id" property="userId"/>
        <result column="user_password" property="password"/>
        <result column="user_name" property="name"/>
        <result column="user_username" property="username"/>
    </resultMap>

    <select id="findAll" resultMap="userRM">
        SELECT * FROM user
    </select>

    <select id="findOne" resultMap="userRM">
        SELECT * FROM user WHERE user_id=#{userId}
    </select>

    <update id="saveUser">
        UPDATE user SET user_name=#{name},user_role=#{userRole} WHERE user_id=#{userId}
    </update>

    <insert id="addUser">
        INSERT INTO user (user_username,user_password,user_name,user_id,user_role)
        VALUE (#{username},#{password},#{name},#{userId},#{userRole})
    </insert>

    <select id="findUsername" resultMap="userRM">
        SELECT * FROM user WHERE user_username LIKE concat(concat('%',#{username},'%'))
    </select>
</mapper>